/**
 * $Id
 * 
 * File:
 * reset.css
 * 
 * About:
 * Resets all elements to a basic appearance, and re-adds selected styling. Most
 * declarations should occur in other stylesheets, rather than modifying this 
 * one.
 * 
 * Author:
 * James Dahlfred, Brightform Interactive (http://brightform.com)
 * 
 * Version:
 * 1.0
 */

/* -----------------------------------------------------------------------------
 * GENERAL RESET
 * -------------------------------------------------------------------------- */

* {
  text-decoration: none;
  font-size: 1em;
  outline: none;
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------
 * SPECIFIC RESETS
 * -------------------------------------------------------------------------- */

body, blockquote, div, dl, dt, dd, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, select, textarea, ol, p, pre, table, th, td, ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table[border] {
  border-collapse: separate;
  border-spacing: 0;
}
thead, tbody, tfoot, tr, th, td {
  width: auto;
  height: auto;
  background-color: transparent;
  vertical-align: inherit;
  border: none;
}
caption, th { text-align: left; }
a, a img, a abbr, a acronym, abbr, acronym, applet, fieldset, form, iframe, img, object, table { border: none; }
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
code, isindex, kbd, listing, plaintext, pre, samp, tt, var, xmp {
  font: inherit;
  white-space: normal;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1.25;
  border: none;
}
ol, ul, dir, menu { list-style: none; }
ol { list-style-type: decimal; }
q:before, q:after { content: ''; }
a { text-decoration: none; }
a:hover, a:focus, input:focus, select:focus, textarea:focus { outline: none; }
hr { display: none; }

/* -----------------------------------------------------------------------------
 * LANGUAGE-SPECIFIC PUNCTUATION
 * -------------------------------------------------------------------------- */

q { quotes: '\201C' '\201D' '\2018' '\2019'; }
:lang(af), :lang(nl), :lang(pl) { quotes: '\201E' '\201D' '\201A' '\2019'; }
:lang(bg), :lang(cs), :lang(de), :lang(is), :lang(lt), :lang(sk), :lang(sr), :lang(ro) { quotes: '\201E' '\201C' '\201A' '\2018'; }
:lang(da), :lang(hr) { quotes: '\00BB' '\00AB' '\203A' '\2039'; }
:lang(el), :lang(es), :lang(sq), :lang(tr) { quotes: '\00AB' '\00BB' '\2039' '\203A'; }
:lang(en-GB) { quotes: '\2018' '\2019' '\201C' '\201D'; }
:lang(fi), :lang(sv) { quotes: '\201D' '\201D' '\2019' '\2019'; }
:lang(fr) { quotes: '\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a'; }
*[lang|='en'] q:before { content: '\201C'; }
*[lang|='en'] q:after { content: '\201D'; }
*[lang|='en'] q q:before { content: '\2018'; }
*[lang|='en'] q q:after { content: '\2019'; }

/* -----------------------------------------------------------------------------
 * HTML & BODY
 * -------------------------------------------------------------------------- */

html, body {
  color: #000;
  background-color: #fff;
}
html {
  height: 100%;
  /*margin-bottom: 1px;*/ /* This rule forces a vertical scrollbar */
}

/* \*/

html { font-family: sans-serif; }

/* */

body { 
  height: auto;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13.59px; /* Assuming 16px/16px default, this makes the base size 10px/15px */
  line-height: 1.2;
}

/* -----------------------------------------------------------------------------
 * BASIC ELEMENTS
 * -------------------------------------------------------------------------- */

cite, dfn, em, i, dt { font-style: italic; }
b, strong, dt, th, thead td { font-weight: bold; }
caption, th, td { text-align: left; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
small, sup, sub { font-size: 85%; }
big {
  font-size: 125%;
  line-height: 80%;
}

del { text-decoration: line-through; }
ins, dfn { border-bottom: 1px solid #000; }

pre { white-space: pre; }
pre * { font-size: 100%; white-space: pre; }
abbr, acronym {
  text-transform: uppercase;
  font-size: 100%;
}
abbr[title], acronym[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted #000;
}
code, kbd, pre, samp, tt, var {
  font-size: 100%;
  font-family: Monaco, Consolas, "Courier New", Courier, monospace;
}
img {
  display: block;
  margin: 0;
}

/* -----------------------------------------------------------------------------
 * DEPRECATED HTML
 * -------------------------------------------------------------------------- */

center, *[align] { text-align: inherit; }
s, strike, u { text-decoration: inherit; }
nobr { white-space: normal; }
marquee { overflow: visible; -moz-binding: none; }
blink { text-decoration: none; }
font, basefont {
  color: inherit;
  font: inherit;
  font-size: 100%;
}

/* -----------------------------------------------------------------------------
 * CLEARFIX HACK
 * -------------------------------------------------------------------------- */

.clear:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

* html>body .clearfix {
  display: inline-block;
  display: -moz-inline-box;
  width: 100%;
}

* html .clearfix {
  /* Hides from IE-mac \*/
  height: 1%;
  /* End hide from IE-mac */
}
